
.index-header, .about-header {
  text-decoration: underline;
  color: #0000cc;
}

.p-about, .p-index{
  font-size: 15px;
  font-style: oblique;
}

ul {
  font-style: oblique;
}

body {
  background-color: #a6dbb8;
  margin-top: 100px;
}

a {
  color: purple;
}

#headshot {
  margin-left: auto;
  margin-right: auto;
  display: block;

}

#recomendation-box {
  height: 500%;
  padding-bottom: 100px;
  padding-right: 100px;
}

#button:hover {
  border: solid;
  background-color: yellow;
}

#button {
  margin-top: 10px;
}

.name {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #E0FFFF;
}

#globe {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.videos {
  display: flex;

}

.peru-vid {
  max-width: 95%;
  height: 150;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.japan-vid {
  max-width: 95%;
  height: 150;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

table {
  margin-left: auto;
  margin-right: auto;
}

.submission-row {
  display: flex;
}

.plane {
  width: 130px;
  height: 70px;
  padding-left: 30px;
}
